<div class="menu">
    <ul class="menu-list">
        <li><NavLink href="/" Match="NavLinkMatch.All">Home</NavLink></li>
        <li><NavLink href="/products">Products</NavLink></li>
        <li><NavLink href="/favorites">Favorites</NavLink></li>
        <li><NavLink href="/cart">Cart</NavLink></li>
        <li><NavLink href="/orders">Orders</NavLink></li>
    </ul>
</div>